---
http_interactions:
- request:
    method: post
    uri: https://pan.baidu.com/rest/2.0/xpan/file?access_token=expired&method=precreate
    body:
      encoding: UTF-8
      string: path=%2Fapps%2Frspec%2Ftest.csv&size=54&isdir=false&autoinit=1&rtype=1&block_list=%5B%22adb786a1c7688ee00e916f35c7c7a096%22%5D&content-md5=adb786a1c7688ee00e916f35c7c7a096
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Flow-Level:
      - '3'
      Logid:
      - '8965885037279532660'
      Yld:
      - '8965885037279532660'
      Yme:
      - ZIGW+iozQEsXdTcAUmr/tG5NuOUfSQHrqAVFwSGHnKmj1xU=
    body:
      encoding: ASCII-8BIT
      string: '{"errno":-6,"request_id":8965885037279532660}'
  recorded_at: Wed, 08 Feb 2023 06:35:53 GMT
- request:
    method: get
    uri: https://openapi.baidu.com/oauth/2.0/token?client_id=<APP_KEY>&client_secret=<SECRET_KEY>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Tracecode:
      - '21537304022524717834020814'
    body:
      encoding: UTF-8
      string: '{"expires_in":2592000,"refresh_token":"new_refresh_token","access_token":"new_access_token","session_secret":"","session_key":"","scope":"basic
        netdisk"}

        '
  recorded_at: Wed, 08 Feb 2023 06:35:53 GMT
- request:
    method: post
    uri: https://pan.baidu.com/rest/2.0/xpan/file?access_token=new_access_token&method=precreate
    body:
      encoding: UTF-8
      string: path=%2Fapps%2Frspec%2Ftest.csv&size=54&isdir=false&autoinit=1&rtype=1&block_list=%5B%22adb786a1c7688ee00e916f35c7c7a096%22%5D&content-md5=adb786a1c7688ee00e916f35c7c7a096
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Flow-Level:
      - '3'
      Logid:
      - '8965885147070130020'
      Yld:
      - '8965885147070130020'
      Yme:
      - ZIGW/y8rX0kMYzcYTmvhrm5XvfsfVAP9oAJLwiiD0JDFDy1Q0U5Aih00
    body:
      encoding: ASCII-8BIT
      string: '{"path":"\/apps\/rspec\/test.csv","uploadid":"N1-MTE3LjgzLjIyMi4xMTQ6MTY3NTgzODE1Mzo4OTY1ODg1MTQ3MDcwMTMwMDIw","return_type":1,"block_list":[],"errno":0,"request_id":8965885147070130020}'
  recorded_at: Wed, 08 Feb 2023 06:35:53 GMT
recorded_with: VCR 6.1.0
