---
http_interactions:
- request:
    method: get
    uri: https://openapi.baidu.com/oauth/2.0/token?client_id=<APP_KEY>&client_secret=<SECRET_KEY>&grant_type=refresh_token&refresh_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Tracecode:
      - '18525651360199528970020914'
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter"}

        '
  recorded_at: Thu, 09 Feb 2023 06:30:52 GMT
recorded_with: VCR 6.1.0
