---
http_interactions:
- request:
    method: get
    uri: https://openapi.baidu.com/oauth/2.0/token?client_id=<APP_KEY>&client_secret=<SECRET_KEY>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Tracecode:
      - '28130438880576165898020914'
    body:
      encoding: UTF-8
      string: '{"expires_in":2592000,"refresh_token":"new_refresh_token","access_token":"new_access_token","session_secret":"","session_key":"","scope":"basic
        netdisk"}

        '
  recorded_at: Thu, 09 Feb 2023 06:46:52 GMT
recorded_with: VCR 6.1.0
